<template>
    <v-container id="login" class="fill-height justify-center" tag="section">
      <v-row justify="center">
        <v-col lg="11" sm="8" xl="7">
          <v-card class="elevation-4">
            <v-row>
              <v-col lg="7" class="info d-none d-md-flex align-center justify-center">
                <v-card class="mx-auto my-12">
                    <v-img
                      height="100%"
                      src="@/assets/loginbackground.jpg"
                    ></v-img>
                    </v-card>
              </v-col>
              <v-col lg="5">
                <div class="pa-7 pa-sm-12">
                  <h2 class="font-weight-bold mt-4 blue-grey--text text--darken-2">Sign in</h2>
                  <!-- <h6 class="subtitle-1">
                    Don't have an account?
                    <a href="#/pages/boxedregister" class>Sign Up</a>
                  </h6> -->
  
                  <v-form ref="form" v-model="valid" lazy-validation action="/dashboards/analytical">
                    <v-text-field
                      v-model="email"
                      :rules="emailRules"
                      label="E-mail"
                      class="mt-4"
                      required
                      outlined
                    ></v-text-field>
                    <v-text-field
                      v-model="password"
                      :counter="10"
                      :rules="passwordRules"
                      label="Password"
                      required
                      outlined
                      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show1 ? 'text' : 'password'"
                    ></v-text-field>
  
                    <div class="d-block d-sm-flex align-center mb-4 mb-sm-0">
                      <v-checkbox
                        v-model="checkbox"
                        :rules="[v => !!v || 'You must agree to continue!']"
                        label="Remember me?"
                        required
                      ></v-checkbox>
                      <div class="ml-auto">
                        <a href="javascript:void(0)" class="link">Forgot pwd?</a>
                      </div>
                    </div>
                    
                      <v-alert
                          dense
                          type="warning"
                          v-if="errorMsg != ''"
                        >
                         <v-icon>mdi-warning</v-icon> {{errorMsg}}
                        </v-alert>
                    
                    
                    <v-btn
                      :disabled="!valid"
                      color="info"
                      block
                      class="mr-4"
                      submit
                      @click="submit"
                    >Sign In</v-btn>
                  </v-form>
                  <v-overlay :value="overlay">
                  <v-progress-circular indeterminate size="64"></v-progress-circular>
                  </v-overlay>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script>
  import { mapState } from "vuex";
  import {login} from './../../helperfunctions/Authentication/auth'
  export default {
    name: "BoxedLogin",
  
    data: () => ({
      valid: true,
      password: "",
      overlay:false,
      show1: false,
      errorMsg:'',
      passwordRules: [
        v => !!v || "Password is required",
        v => (v && v.length <= 10) || "Password must be less than 10 characters"
      ],
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      checkbox: false
    }),
    computed: {},
    methods: {
      submit() {
        this.$refs.form.validate();
        if (this.$refs.form.validate(true)) {
          //this.$router.push({ path: "/dashboards/analytical" });

          let data = {
                email:this.email,
                password:this.password,
              }
          this.overlay = true
          
          setTimeout(() => {
            login(data).then((res) =>{
              this.errorMsg = ''
              this.overlay = false
              this.$store.commit('user/SET_USER',res.data)
              this.$store.commit('user/SET_AUTHENTICATED',true)
              this.$router.push("/dashboard")
              }).catch((error) => {
                this.errorMsg = error.response.data.data.error
                this.overlay = false
                this.$store.commit('user/SET_USER',{})
                this.$store.commit('user/SET_AUTHENTICATED',false)
                
              })
          }, 200);
          
        }
      }
    }
  };
  </script>
  