<template>
    <v-container fluid class="down-top-padding">
        <BaseBreadcrumb :title="page.title" :icon="page.icon" :breadcrumbs="breadcrumbs"></BaseBreadcrumb>
      <!-- -------------------------------------------------------------------------------------
          Todo Room 
      --------------------------------------------------------------------------------------->
      <v-card style="min-height:calc(100vh - 320px);">
        <!-- -------------------------------------------------------------------------------------
         Todo Header
        --------------------------------------------------------------------------------------->
        
        <v-toolbar flat color="white">
            <h4 class="mb-1"><v-icon>mdi-account-multiple-outline</v-icon> Customer</h4>
            <v-spacer></v-spacer>
                <v-chip class="ma-2 chip-button" color="primary" @click="newCustomer">
                    <v-icon>mdi-plus</v-icon> New Customer
                </v-chip>
        </v-toolbar>
        <v-divider></v-divider>
    
        <!-- -------------------------------------------------------------------------------------
            Todo listing
        --------------------------------------------------------------------------------------->
        <v-card-text class="pa-5">
            <v-data-table :headers="headers" :items="customerStore.customers.data"  :search="search"  class="border">
                <template v-slot:top>
                    <v-toolbar flat color="white">
                    <v-spacer></v-spacer>
                    <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Search"
                        single-line
                        hide-details
                        ></v-text-field>
                    </v-toolbar>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-icon class="mr-2" color="info" @click="viewDetails(item)" title="View Details">mdi-file-search-outline</v-icon>
                  <v-icon class="mr-2" color="error" @click="removeItem(item)" title="Remove Customer">mdi-trash-can</v-icon>
                </template>
                <template v-slot:no-data>
                    <span>No Record</span>
                </template>
                </v-data-table>
        </v-card-text>
        <customerDetail :dialog="dialog" :actionType="actionType" :items="details"/>
        <v-dialog
            v-model="removeDialog"
            persistent
            max-width="400"
          >
            <v-card>
              <v-card-title class="text-h5">
                <v-icon>mdi-trash-can</v-icon> Remove Customer
              </v-card-title>
              <v-card-text>Do you want to remove this customer <strong>{{customername}}</strong> ?</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="green darken-1"
                  text
                  @click="confirmRemove"
                >
                 Yes
                </v-btn>
                <v-btn
                  color="green darken-1"
                  text
                  @click="removeDialog = false"
                >
                  No
                </v-btn>
              </v-card-actions>
              <v-overlay :value="overlay">
              <v-progress-circular indeterminate size="64"></v-progress-circular>
              </v-overlay>
            </v-card>
          </v-dialog>
        <!-- -------------------------------------------------------------------------------------
            End Todo Listing
        --------------------------------------------------------------------------------------->
      </v-card>
      
    </v-container>
  </template>
  
  
  <script>

  import customerDetail from './customer_detail'

  import { mapState } from 'vuex'
  export default {
    name: "Todo",
    components:{
      customerDetail,
    },
    data: () => ({
        page: {
        title: "Customer"
      },
      search:'',
      drawer: null,
      actionType:null,
      removeDialog:false,
      customername:'',
      overlay:false,
      dialog:false,
      recId:'',
      details:[],
      headers: [
        { text: "First Name", value: "firstname" },
        { text: "Middle Name", value: "middlename" },
        { text: "Last Name", value: "lastname" },
        { text: "Mobile", value: "mobile" },
        { text: "Email", value: "email" },
        { text: "Actions", value: "actions", sortable: false }
      ],
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          to: '#'
        },
        {
          text: "Customer",
          disabled: true
        }
      ]
    }),
    mounted(){
  
      this.$store.dispatch('customerStore/getCustomerLists',{token:this.user.user.token})
      this.$eventHub.$on('caseModal',()=>{
        this.$store.dispatch('customerStore/getCustomerLists',{token:this.user.user.token})
        this.details = [];
        this.actionType = null
        this.dialog = false
      })
     
    },
    methods: {
      newCustomer(){
        this.actionType = 'new'
        this.dialog = true
      },
      viewDetails(item){
        this.details = item
        this.actionType = 'update'
        this.dialog = true
      },
      removeItem(item){
        this.customername = item.firstname +' '+ item.middlename + ' ' + item.lastname
        this.removeDialog = true
        this.recId = item.id
      },
      confirmRemove(){
        this.overlay = true
        setTimeout(()=>{
          this.$store.dispatch('customerStore/deleteCustomer',{token:this.user.user.token, id:this.recId}).then(data => {
            if(data == 'success'){
              this.overlay = false
              this.$toastr.s('Success','Customer successfully removed!');
              this.$store.dispatch('customerStore/getCustomerLists',{token:this.user.user.token})
              this.removeDialog = false
              this.recId = ''
            }else{
              this.overlay = false
              this.$toastr.e('Error','Error!');
            }
          })
        },200)
        
      }
    },
    watch: {
      
    },
    computed: {
      ...mapState(['customerStore','user']),
      
    }
  };
  </script>
  <style lang="scss">
  .common-list{
    display:block;
    li{
      display: block;
      padding: 10px 0;
      border-bottom:1px solid rgba(0,0,0,0.1); 
      list-style: none;
      .v-list-item__action--stack{
        display: flex;
        flex-direction: row!important;
      }
    }
  }
  
  @media (max-width: 767px) {
      .common-list {
          li .v-list-item__action {
              max-width: 200px;
          }
      }
  }
  
  .cursor-pointer{
    cursor: pointer;
  }
  .v-overlay--active{
    z-index: 1!important;
  }
  .task-panel {
    z-index: 2  ;
    position: fixed;
    
    top: 64px !important;
      &.v-navigation-drawer--close {
          right: -30px;
      }
      .v-navigation-drawer__content {
          max-height: calc(100% - 20px);
      }
  }

  .chip-button {
    cursor: pointer;
  }
  
  @media (max-width:991px) {
      .task-panel {
          top: 54px !important;
          .vb-content {
                  box-sizing: inherit !important;
          }
      }
  }
  
  </style>