<template>
    <v-dialog
            transition="dialog-top-transition"
            max-width="1000"
            v-model="dialog"
            persistent
        >
            <v-card>
                <v-toolbar
                color="primary"
                dark
                ><v-icon>mdi-account</v-icon> Customer Details</v-toolbar>
                <v-container >      
                    <v-row >
                        <v-col cols="12" lg="12" md="12" sm="12">
                            <v-card-text class="pa-5 grey lighten-4 rounded-b-0">
                                <h3 class="subtitle blue-grey--text text--darken-2 font-weight-bold">
                                    <v-icon>mdi-account-outline</v-icon> Personal Information
                                </h3>
                                <v-divider></v-divider>
                                <v-form class="pa-2" ref="form" v-model="valid" lazy-validation>
                                <v-row>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">First Name</p>
                                        <v-text-field :disabled="activate" v-model="customer.firstname" :rules="firstname" outlined dense required   class=""></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">Middle Name</p>
                                        <v-text-field :disabled="activate" v-model="customer.middlename" outlined dense    class=""></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">Last Name</p>
                                        <v-text-field :disabled="activate" v-model="customer.lastname" :rules="lastname" outlined dense required   class=""></v-text-field>
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">Birth Date</p>
                                        <v-menu
                                        :disabled="activate"
                                        ref="menu" v-model="bdate" :close-on-content-click="false"
                                        transition="scale-transition" offset-y max-width="290px" min-width="290px"
                                        >
                                        <template v-slot:activator="{ on }">
                                            <v-text-field
                                            
                                            v-model="customer.birthdate"
                                            readonly
                                            outlined dense required
                                            :rules="birthdate"
                                            v-on="on"   class=""
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="customer.birthdate" no-title @input="bdate = false"></v-date-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">Age</p>
                                        <v-text-field v-model="customer.age" outlined dense   class="" readonly></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">Email</p>
                                        <v-text-field :disabled="activate" v-model="customer.email" :rules="emailAddress" outlined dense required   class=""></v-text-field>
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">Mobile #</p>
                                        <v-text-field :disabled="activate" v-model="customer.mobile" :counter="11" :rules="mobileNumber" outlined dense required   class=""></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="8" lg="8" class="pt-0">
                                        <p class="text-14 mb-1">House No. / Street</p>
                                        <v-text-field :disabled="activate" v-model="customer.house_no_street" outlined dense   class=""></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">Province</p>
                                        <v-autocomplete v-model="customer.province"
                                        :disabled="activate"
                                            :items="[]"
                                            outlined dense required hide-details="" class="">
                                        </v-autocomplete>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">Municipality</p>
                                        <v-autocomplete v-model="customer.municipality"
                                        :disabled="activate"
                                            :items="[]"
                                            outlined dense required hide-details="" class="">
                                        </v-autocomplete>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="4" lg="4" class="pt-0">
                                        <p class="text-14 mb-1">Barangay</p>
                                        <v-autocomplete v-model="customer.brgy"
                                        :disabled="activate"
                                            :items="[]"
                                            outlined dense required hide-details="" class="">
                                        </v-autocomplete>
                                    </v-col>
                                </v-row>
                                                      
                                </v-form>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-text class="pa-5 grey lighten-4 ">
                                <v-row>
                                    <h3 class="subtitle blue-grey--text text--darken-2 font-weight-bold">
                                        <v-icon>mdi-school</v-icon> Educational Background
                                    </h3>
                                    <v-spacer></v-spacer>
                                    <v-chip class="ma-2 chip-button" color="primary" @click="addSchool">
                                        <v-icon>mdi-plus</v-icon>
                                    </v-chip>
                                </v-row>
                                <v-divider></v-divider>
                                <form class="pa-2">
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                        <thead>
                                            <tr>
                                            <th class="text-left">
                                                School
                                            </th>
                                            <th class="text-left">
                                                Years
                                            </th>
                                            <th class="text-left">
                                                Degree
                                            </th>
                                            <th>
                                            </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                            v-for="(item,index) in customer.educational_background"
                                            :key="index"
                                            >
                                                <td>
                                                    <v-text-field :disabled="activate" v-model="item.School"  outlined dense class=""></v-text-field>
                                                </td>
                                                <td>
                                                    <v-text-field :disabled="activate" v-model="item.Year"  outlined dense class=""></v-text-field>
                                                </td>
                                                <td>
                                                    <v-text-field :disabled="activate" v-model="item.Degree"  outlined dense class=""></v-text-field>
                                                </td>
                                                <td>
                                                    <v-icon class="remove-button" color="error"  @click="removeSchool(item)">mdi-trash-can</v-icon>  
                                                </td>
                                            </tr>
                                        </tbody>
                                        </template>
                                    </v-simple-table>              
                                </form>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-text class="pa-5 grey lighten-4 ">
                                <v-row>
                                    <h3 class="subtitle blue-grey--text text--darken-2 font-weight-bold">
                                        <v-icon>mdi-certificate-outline</v-icon> Trainings
                                    </h3>
                                    <v-spacer></v-spacer>
                                    <v-chip class="ma-2 chip-button" color="primary" @click="addTraining">
                                        <v-icon>mdi-plus</v-icon>
                                    </v-chip>
                                </v-row>
                                <v-divider></v-divider>
                                <form class="pa-2">
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                        <thead>
                                            <tr>
                                            <th class="text-left">
                                                Institution
                                            </th>
                                            <th class="text-left">
                                                Course
                                            </th>
                                            <th class="text-left">
                                                Date
                                            </th>
                                            <th>
                                            </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                            v-for="(item,index) in customer.trainings"
                                            :key="index"
                                            >
                                                <td>
                                                    <v-text-field :disabled="activate" v-model="item.institution"  outlined dense class=""></v-text-field>
                                                </td>
                                                <td>
                                                    <v-text-field :disabled="activate" v-model="item.course"  outlined dense class=""></v-text-field>
                                                </td>
                                                <td>
                                                    <v-text-field :disabled="activate" v-model="item.date"  outlined dense class=""></v-text-field>
                                                </td>
                                                <td>
                                                    <v-icon class="remove-button" color="error"  @click="removeTraining(item)">mdi-trash-can</v-icon>  
                                                </td>
                                            </tr>
                                        </tbody>
                                        </template>
                                    </v-simple-table>              
                                </form>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-text class="pa-5 grey lighten-4 ">
                                <v-row>
                                    <h3 class="subtitle blue-grey--text text--darken-2 font-weight-bold">
                                        <v-icon>mdi-account-tie</v-icon> Work Experience
                                    </h3>
                                    <v-spacer></v-spacer>
                                    <v-chip class="ma-2 chip-button" color="primary" @click="addWorkExperience">
                                        <v-icon>mdi-plus</v-icon>
                                    </v-chip>
                                </v-row>
                                <v-divider></v-divider>
                                <form class="pa-2">
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                        <thead>
                                            <tr>
                                            <th class="text-left">
                                                Company
                                            </th>
                                            <th class="text-left">
                                                Position
                                            </th>
                                            <th class="text-left">
                                                Year
                                            </th>
                                            <th>
                                            </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                            v-for="(item,index) in customer.work_experience"
                                            :key="index"
                                            >
                                                <td>
                                                    <v-text-field :disabled="activate" v-model="item.Company"  outlined dense class=""></v-text-field>
                                                </td>
                                                <td>
                                                    <v-text-field :disabled="activate" v-model="item.Position"  outlined dense class=""></v-text-field>
                                                </td>
                                                <td>
                                                    <v-text-field :disabled="activate" v-model="item.Year"  outlined dense class=""></v-text-field>
                                                </td>
                                                <td>
                                                    <v-icon class="remove-button" color="error"  @click="removeWorkExperience(item)">mdi-trash-can</v-icon>  
                                                </td>
                                            </tr>
                                        </tbody>
                                        </template>
                                    </v-simple-table>              
                                </form>
                            </v-card-text>
                        </v-col>
                    </v-row>
                </v-container>
                <v-divider></v-divider>
                <v-card-actions class="justify-end">
                    <v-btn color="info" v-if="activate == true" class="ma-2 white--text" 
                    :disabled="!valid" @click="activate = false"
                    >Edit<v-icon right>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn color="info" v-else class="ma-2 white--text" :disabled="!valid" @click="saveCustomer"
                    >Save<v-icon right>mdi-content-save</v-icon>
                    </v-btn>
                    <v-btn color="error" class="ma-2 white--text" @click="closeModal"
                    >Close<v-icon right>mdi-close</v-icon>
                    </v-btn>
                </v-card-actions>
                <v-overlay :value="overlay">
                <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
            </v-card>
    </v-dialog>
</template>
<script>

import {mapState} from 'vuex'
import { getAge } from './../../helperfunctions/helpers/helper'
export default {
    data: vm => ({
        overlay:false,
        bdate:false,
        valid: true,
        activate:false,
        customer:{
            firstname:'',
            middlename:'',
            lastname:'',
            birthdate:'',
            age:'',
            email:'',
            mobile:'',
            house_no_street:'',
            province:1,
            municipality:1,
            brgy:1,
            educational_background:[],
            trainings:[],
            work_experience:[],
            status:'A',
        },
        firstname: [
                v => !!v || "First name is required",
              ],
        lastname: [
                v => !!v || "Last name is required",
        ],
        birthdate: [
                 v => !!v || "Birthdate is required",
        ],
        emailAddress:[
                v => !!v || "Email address is required",
                v => /.+@.+\..+/.test(v) || "E-mail must be valid"
              ],
        mobileNumber:[
                v => !!v || "Mobile number is required",
                v => (v && v.length == 11) || "Mobile number must be 11 digits",
                v => (v && v.substring(0,2) == '09') || "Invalid mobile Number"
              ],
    }),
    props:['dialog','actionType','items'],
    watch:{
        'customer.birthdate':function(val){
            this.customer.age = getAge(val)
        },
        actionType(val){
            if(val == 'update'){
                this.activate = true
                this.customer = this.items

                delete this.customer['created_at'];
                delete this.customer['updated_at'];
            }else{
                this.customer.firstname = ''
                this.customer.middlename = ''
                this.customer.lastname = ''
                this.customer.birthdate = ''
                this.customer.age = 0
                this.customer.email = ''
                this.customer.mobile = ''
                this.customer.house_no_street = ''
                this.customer.educational_background = []
                this.customer.trainings = []
                this.customer.work_experience = [] 
                this.activate = false
            }
        }
    },
    computed: {
      ...mapState(['customerStore','user']),
      
    },
    methods:{
        closeModal(){
            this.$eventHub.$emit('caseModal')
        },
        addSchool(){
            this.customer.educational_background.push({
                    School:'',
                    Year:'',
                    Degree:''
                })
        },
        removeSchool(index){
            let idx = this.customer.educational_background.indexOf(index);
            if(idx > -1){
                this.customer.educational_background.splice(idx,1)
            }
        },
        addTraining(){
            this.customer.trainings.push({
                    institution:'',
                    course:'',
                    date:''
                 })
        },
        removeTraining(index){
            let idx = this.customer.trainings.indexOf(index);
            if(idx > -1){
                this.customer.trainings.splice(idx,1)
            }
        },
        addWorkExperience(){
            this.customer.work_experience.push({
                    Company:'',
                    Position:'',
                    Year:''
                 })
        },
        removeWorkExperience(index){
            let idx = this.customer.work_experience.indexOf(index);
            if(idx > -1){
                this.customer.work_experience.splice(idx,1)
            }
        },
        saveCustomer(){

            this.$refs.form.validate();
            if (this.$refs.form.validate(true)) {
                this.overlay = true
                this.customer['createdby'] = this.user.user.id
                setTimeout(()=>{
                    let storeTrigger = ''
                    if(this.actionType == 'update'){
                        storeTrigger = 'customerStore/updateCustomer'
                    }else{
                        storeTrigger = 'customerStore/addCustomer'
                    }
                    try {
                        this.$store.dispatch(storeTrigger,{token:this.user.user.token,data:this.customer}).then(data => {
                            if(data == 'success'){
                            this.$refs.form.reset()
                            this.customer.age = 0
                            this.customer.educational_background = []
                            this.customer.trainings = []
                            this.customer.work_experience = []
                            this.overlay = false
                            this.$toastr.s('Success','Customer successfully saved!');
                            this.$store.dispatch('customerStore/getCustomerLists',{token:this.user.user.token})
                            this.$eventHub.$emit('caseModal')
                        
                            }else{
                            this.overlay = false
                            this.$toastr.e('Error','Error!');
                            }
                        }) 
                    } catch (error) {
                        this.$toastr.e('Error',error);
                    }
                    
                }, 200)
            }
            
        }
    }
}

</script>
<style scoped>
.customer-detail {
   height: 300px;
}
.remove-button{
    top: -10px;
}

</style>