<template>
    <v-container fluid class="down-top-padding">
        <BaseBreadcrumb :title="page.title" :icon="page.icon" :breadcrumbs="breadcrumbs"></BaseBreadcrumb>
        <v-row>
          <v-col cols="12" sm="12" lg="12">
                <TheSalesOverview></TheSalesOverview>
            </v-col>
            <v-col cols="12" sm="12" lg="4">
                <TheBusinessCard></TheBusinessCard>
            </v-col>
            <v-col cols="12" sm="12" lg="8">
                <TheNewsletterCampaign></TheNewsletterCampaign>
            </v-col>
            <v-col cols="12" sm="12" lg="4">
                <TheBandwidthUsage></TheBandwidthUsage>
            </v-col>
            <v-col cols="12" sm="12" lg="4">
                <TheDownloadCount></TheDownloadCount>
            </v-col>
            <v-col cols="12" sm="12" lg="4">
                <TheWeatherCard></TheWeatherCard>
            </v-col>
            <v-col cols="12" sm="12" lg="4">
                <TheProfileCard></TheProfileCard>
                <TheMyContacts></TheMyContacts>
            </v-col>
            <v-col cols="12" sm="12" lg="8">
                <TheActivityTimeline></TheActivityTimeline>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import {mapState} from 'vuex'
export default {
  name: "Analytical",

  data: () => ({
      page: {
        title: "Analytical"
      },
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          to: '#'
        },
        {
          text: "Analytical",
          disabled: true
        }
      ]
  }),
  components: {
      TheSalesOverview: () => import('@/pages/dashboardComponents/sales-overview/TheSalesOverview'),
      TheBusinessCard: () => import('@/pages/dashboardComponents/business-card/TheBusinessCard'),
      TheNewsletterCampaign: () => import('@/pages/dashboardComponents/newsletter-campaign/TheNewsletterCampaign'),
      TheBandwidthUsage: () => import('@/pages/dashboardComponents/bandwidth-usage/TheBandwidthUsage'),
      TheDownloadCount: () => import('@/pages/dashboardComponents/download-count/TheDownloadCount'),
      TheWeatherCard: () => import('@/pages/dashboardComponents/weather-card/TheWeatherCard'),
      TheProfileCard: () => import('@/pages/dashboardComponents/profile-card/TheProfileCard'),
      TheMyContacts: () => import('@/pages/dashboardComponents/my-contacts/TheMyContacts'),
      TheActivityTimeline: () => import('@/pages/dashboardComponents/activity-timeline/TheActivityTimeline'),
  },
  computed: {
    ...mapState(["user"]),
  },
  created(){
    console.log(this.user.user)
  }
};

</script>