<template>
    <v-container fluid class="down-top-padding">
        <BaseBreadcrumb :title="page.title" :icon="page.icon" :breadcrumbs="breadcrumbs"></BaseBreadcrumb>
      <!-- -------------------------------------------------------------------------------------
          Todo Room 
      --------------------------------------------------------------------------------------->
      <v-card style="min-height:calc(100vh - 320px);">
        <!-- -------------------------------------------------------------------------------------
         Todo Header
        --------------------------------------------------------------------------------------->
        
        <v-toolbar flat color="white">
            <h4 class="mb-1"><v-icon>mdi-email</v-icon> Email</h4>
        </v-toolbar>
        <v-divider></v-divider>
    
        <!-- -------------------------------------------------------------------------------------
            Todo listing
        --------------------------------------------------------------------------------------->
        <v-card-text class="pa-5">
            <v-row>
                <v-col cols="12" lg="4" md="4" sm="12" >
                    <h6 class="mb-1"><v-icon>mdi-account-star</v-icon> Conversation</h6>
                    <v-list two-line >
                        <v-list-item-group
                            active-class="pink--text"
                            multiple
                            
                        >
                            <template v-for="(item, index) in items">
                            <v-list-item :key="item.title" >
                                <template v-slot:default="{ active }">
                                <v-list-item-content>
                                    <v-list-item-title v-text="item.title"></v-list-item-title>

                                    <v-list-item-subtitle
                                    class="text--primary"
                                    v-text="item.headline"
                                    ></v-list-item-subtitle>

                                    <v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-action>
                                    <v-list-item-action-text v-text="item.action"></v-list-item-action-text>

                                    <v-icon
                                    v-if="!active"
                                    color="grey lighten-1"
                                    >
                                    mdi-star-outline
                                    </v-icon>

                                    <v-icon
                                    v-else
                                    color="yellow darken-3"
                                    >
                                    mdi-star
                                    </v-icon>
                                </v-list-item-action>
                                </template>
                            </v-list-item>

                            <v-divider
                                v-if="index < items.length - 1"
                                :key="index"
                            ></v-divider>
                            </template>
                        </v-list-item-group>
                    </v-list>
                </v-col>
                <v-col lg="1" md="1">
                    <v-divider vertical></v-divider>
                </v-col>
                <v-col cols="12" lg="7" md="7" sm="12">
                    <v-row>
                        <v-col cols="12" sm="12" lg="12" class="pt-0">
                            <p class="text-14 mb-1">To</p>
                            
                            <v-autocomplete
                                 :items="customCustomer" item-text="email" item-value="id"
                                 v-model="emaildetails.recipients"
                                :search-input.sync="search"
                                @change="search = ''"
                                multiple
                                chips
                                small-chips
                                outlined dense hide-details="" class=""
                                required>
                                  <template v-slot:item="data">
                                    <v-list-item-content>
                                      <v-list-item-subtitle
                                        v-html="data.item.email"
                                      ></v-list-item-subtitle>
                                      <v-list-item-title
                                        v-html="data.item.name"
                                      ></v-list-item-title>
                                    </v-list-item-content>
                                  </template>
                            </v-autocomplete>
                        </v-col>
                        <v-col cols="12" sm="12" lg="12" class="pt-0">
                            <p class="text-14 mb-1">Subject</p>
                            <v-text-field
                                v-model="emaildetails.subject"
                                outlined dense hide-details="" class="">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" lg="12" class="pt-0" style="height: 400px;">
                          <ckeditor :editor="editor" @ready="onReady" v-model="emaildetails.templateEmail" :config="editorConfig"></ckeditor>
                        </v-col>
                        <v-col cols="12" sm="12" lg="12" class="pt-0">
                          <v-spacer></v-spacer>
                          <v-btn color="info"  class="ma-2 white--text" style="float:right" @click="sendEmail">Send<v-icon right>mdi-send</v-icon></v-btn>
                        </v-col>
                    </v-row>
                </v-col>
              
            </v-row>
        </v-card-text>
       
      </v-card>
      
    </v-container>
  </template>
  
  
  <script>

 import DecoupledEditor from '@ckeditor/ckeditor5-build-decoupled-document';
  import { mapState } from 'vuex'
  export default {
    name: "Todo",
    components:{
        
    },
    data: () => ({
        page: {
        title: "Email"
      },
      editor: DecoupledEditor,
        editorConfig: {
        // plugins:[Alignment]
        },
      items: [
        {
          action: '15 min',
          headline: 'Brunch this weekend?',
          subtitle: `I'll be in your neighborhood doing errands this weekend. Do you want to hang out?`,
          title: 'Ali Connors',
        },
        {
          action: '2 hr',
          headline: 'Summer BBQ',
          subtitle: `Wish I could come, but I'm out of town this weekend.`,
          title: 'me, Scrott, Jennifer',
        },
        {
          action: '6 hr',
          headline: 'Oui oui',
          subtitle: 'Do you have Paris recommendations? Have you ever been?',
          title: 'Sandra Adams',
        },
        {
          action: '12 hr',
          headline: 'Birthday gift',
          subtitle: 'Have any ideas about what we should get Heidi for her birthday?',
          title: 'Trevor Hansen',
        },
        {
          action: '18hr',
          headline: 'Recipe to try',
          subtitle: 'We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
          title: 'Britta Holt',
        },
        {
          action: '18hr',
          headline: 'Recipe to try',
          subtitle: 'We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
          title: 'Britta Holtss',
        },
        {
          action: '18hr',
          headline: 'Recipe to try',
          subtitle: 'We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
          title: 'Britta Holts',
        },
        {
          action: '18hr',
          headline: 'Recipe to try',
          subtitle: 'We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
          title: 'Britta Holtssss',
        },
      ],
     
      search:'',
      drawer: null,
      actionType:null,
      removeDialog:false,
      customername:'',
      overlay:false,
      dialog:false,
      recId:'',
      emaildetails:{
        recipients:[],
        subject:'',
        templateEmail:'',
      },
      
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          to: '#'
        },
        {
          text: "Email",
          disabled: true
        }
      ]
    }),
    mounted(){
  
      this.$store.dispatch('customerStore/getCustomerLists',{token:this.user.user.token})
     
    },
    methods: {
       onReady( editor )  {
        // Insert the toolbar before the editable area.
                editor.ui.getEditableElement().parentElement.insertBefore(
                    editor.ui.view.toolbar.element,
                    editor.ui.getEditableElement()
                );
        },  
        sendEmail(){
          setTimeout(()=>{
                   
                    try {
                        this.$store.dispatch('customerStore/sendEmail',{token:this.user.user.token,data:this.emaildetails}).then(data => {
                          if(data == 'success'){
                            this.$toastr.s('Success','Email successfully sent to customers');
                          }else{
                            this.$toastr.e('Error',data);
                          }
                          
                        }) 
                    } catch (error) {
                        this.$toastr.e('Error',error);
                    }
                    
                }, 200)
        }
    },
    watch: {
      
    },
    computed: {
      ...mapState(['customerStore','user']),
      customCustomer(){
        return this.customerStore.customers.data.map(data => {
           return {
            id:data.id,
            name:data.firstname +' '+data.middlename +' '+ data.lastname,
            email:data.email
           }

        })
      }
    }
  };
  </script>
  <style lang="scss">
  .common-list{
    display:block;
    li{
      display: block;
      padding: 10px 0;
      border-bottom:1px solid rgba(0,0,0,0.1); 
      list-style: none;
      .v-list-item__action--stack{
        display: flex;
        flex-direction: row!important;
      }
    }
  }
  
  @media (max-width: 767px) {
      .common-list {
          li .v-list-item__action {
              max-width: 200px;
          }
      }
  }
  
  .cursor-pointer{
    cursor: pointer;
  }
  .v-overlay--active{
    z-index: 1!important;
  }
  .task-panel {
    z-index: 2  ;
    position: fixed;
    
    top: 64px !important;
      &.v-navigation-drawer--close {
          right: -30px;
      }
      .v-navigation-drawer__content {
          max-height: calc(100% - 20px);
      }
  }

  .chip-button {
    cursor: pointer;
  }
  
  @media (max-width:991px) {
      .task-panel {
          top: 54px !important;
          .vb-content {
                  box-sizing: inherit !important;
          }
      }
  }
  
  </style>